<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presidential Candidate Polling Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <h1>Presidential Candidate Polling Dashboard</h1>

<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Pollster</th>
        <th>Sample</th>
        <th>Result</th>
        <th>Net</th>
    </tr>
    </thead>
    <tbody>
        {% for row in poll_data %}
        <tr>
            <td>{{ row.date }}</td>
            <td>{{ row.pollster_name }}</td>
            <td>{{ row.sample_size }}</td>
            <td>{{ row.first_person }} : {{ row.first_value }} VS {{ row.second_person }} : {{ row.second_value }}</td>
            <td>{{ row.leader }} {{ row.net }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>