body {
    font-family: 'Poppins', sans-serif;
}

table {
    margin: 0;
    padding: 0;
    width: 100%;

    border: 1px solid #ccc;
}

table tr {
    background-color: #f8f8f8;
    bodrder: 1px solid #ddd;
    padding: 15px;
}

table th {
    padding: 10px;
    text-align: center;
}

table td {
    padding-left: 10px
}

td:first-child {
    background: #888;
}

td:nth-child(2n+3) {
    background: #1abc9c;
    text-align: center;
}